@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;

    @media (max-width: 760px) {
        font-size: 56.5%;
    }
}

body {
    background-color: #F2F2F3;
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
}
